<% layout('layouts/boilerplate') %>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <%= question.title %>
            </h5>
            <p class="card-text">
                <%= question.content %>
            </p>
        </div>
        <div class="card-body">
            <a class="card-link btn btn-info" href="/questions/<%= question._id %>/edit">Edit</a>
            <form class="d-inline" action="/questions/<%= question._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>

    <form action="/questions/<%= question._id %>/answer" method="POST" class="mb-3 valid-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="reference">Reference</label>
            <input class="form-control" type="text" id="reference" name="answer[reference]" required />
            <div class="invalid-feedback">Please provide a reference.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="comment">Comment</label>
            <textarea class="form-control" name="answer[comment]" id="comment"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Send Reference</button>
        </div>
    </form>